# Database
POSTGRES_USER=petcare
POSTGRES_PASSWORD=tu-password-aqui
POSTGRES_DB=petcare
DATABASE_URL=postgresql://petcare:tu-password@localhost:5434/petcare

# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_SECRET=tu-secret-key-aqui
JWT_EXPIRES_IN=7d

# Gateway
GATEWAY_PORT=8080
CORS_ORIGIN=http://localhost:3000
AUTH_SERVICE_URL=http://localhost:3001
CLIENTS_SERVICE_URL=http://localhost:3002
PETS_SERVICE_URL=http://localhost:3003
APPOINTMENTS_SERVICE_URL=http://localhost:3004
